* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

nav {
  height: 90px;
  max-width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: solid 3px black;
}
nav .logo {
  width: 92px;
  height: 42;
  z-index: 2;
}
nav .links {
  height: 42px;
  width: 370px;
  color: black;
  z-index: 2;
}
nav .links a {
  text-decoration: none;
  color: black;
}

.special-offers {
  margin-top: 80px;
  max-height: 100%;
  width: 50%;
  margin-left: 10%;
  position: relative;
}
.special-offers h1 {
  font-size: 40px;
  font-weight: 300;
  letter-spacing: 0.1em;
  border-bottom: solid 3px black;
  padding-bottom: 15px;
  margin-bottom: 50px;
}
.special-offers .barcelona {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.special-offers .barcelona h2 {
  font-size: 40px;
  font-weight: 300;
  letter-spacing: 0.1em;
  border-bottom: solid 3px black;
  padding-bottom: 15px;
}
.special-offers .barcelona p {
  max-height: 287px;
  width: 250px;
  font-weight: 100;
  letter-spacing: 0.05em;
}
.special-offers .barcelona img {
  max-height: 350px;
  width: auto;
}
.special-offers .barcelona .learn-more-box {
  padding: 7px 20px;
  background-color: #79addc;
  bottom: 0;
  border-radius: 25px;
  display: inline-block;
  position: absolute;
}
.special-offers .barcelona .learn-more-box .learn-more {
  text-decoration: none;
  color: white;
  font-size: 12px;
}
.special-offers .barcelona .words {
  margin-left: 20px;
}

.space {
  margin-bottom: 100px;
}

@media only screen and (max-width: 800px) {
  .special-offers {
    margin-top: 80px;
    max-height: 100%;
    width: 50%;
    margin-left: 10%;
    position: relative;
  }
  .special-offers h1 {
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 0.1em;
    border-bottom: solid 3px black;
    padding-bottom: 15px;
    margin-bottom: 50px;
  }
  .special-offers .barcelona {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .special-offers .barcelona h2 {
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 0.1em;
    border-bottom: solid 3px black;
    padding-bottom: 15px;
  }
  .special-offers .barcelona p {
    max-height: 287px;
    max-width: 180px;
    font-weight: 100;
    letter-spacing: 0.05em;
    font-size: 15px;
  }
  .special-offers .barcelona img {
    max-height: 350px;
    width: auto;
  }
  .special-offers .barcelona .learn-more-box {
    padding: 7px 20px;
    background-color: #79addc;
    bottom: 0;
    border-radius: 25px;
    display: inline-block;
    position: absolute;
  }
  .special-offers .barcelona .learn-more-box .learn-more {
    text-decoration: none;
    color: white;
    font-size: 12px;
  }
  .special-offers .barcelona .words {
    margin-left: 20px;
  }

  .space {
    margin-bottom: 100px;
  }
}
.blog {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
}
.blog .blog-photo {
  width: 90%;
}
.blog .blog-photo img {
  width: 100%;
  height: auto;
}
.blog .date-box {
  padding: 1.5%;
  background-color: #79addc;
  display: inline-block;
}
.blog .date-box .date {
  text-decoration: none;
  color: white;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
}
.blog .box {
  display: inline-block;
}
.blog .box .blog-photo {
  float: right;
}
.blog .blog-text {
  margin-left: 10%;
}

.blog-header {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  font-weight: 300;
  width: 100px;
  border-bottom: solid 3px black;
  margin-bottom: 50px;
}

h4 {
  margin-top: 20px;
}

p {
  margin-top: 20px;
  width: 50%;
  color: #79addc;
}

@media only screen and (max-width: 800px) {
  .blog {
    margin-left: 10%;
    margin-right: 10%;
  }
  .blog .blog-photo {
    width: 85%;
  }
  .blog .blog-photo img {
    width: 100%;
    height: auto;
  }
  .blog .blog-text {
    margin-left: 15%;
  }

  p {
    margin-top: 20px;
    width: 60%;
    color: #79addc;
  }
}
.whole {
  margin-left: 10%;
  margin-right: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
}
.whole .map {
  width: 40%;
  float: left;
}
.whole .map .info {
  margin: 5%;
}
.whole .map .info h6 {
  padding: 1px;
  margin: 2px;
  font-weight: 300;
  letter-spacing: 0.1em;
  font-size: 12px;
}
.whole .map .contact-photo {
  width: 100%;
}
.whole .map .contact-photo img {
  width: 90%;
  height: auto;
}
.whole .form {
  width: 60%;
}
.whole .form .first-name .first {
  height: 50px;
  width: 100%;
  margin-bottom: 2%;
  padding-left: 10px;
  background-color: #F5F5F5;
  border: none;
}
.whole .form .msg .message {
  height: 200px;
  width: 100%;
  padding-left: 10px;
  padding-top: 10px;
  background-color: #F5F5F5;
  border: none;
}
.whole .form .send-message-box {
  padding: 15px 10px;
  background-color: #79addc;
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}
.whole .form .send-message-box .send-message {
  text-decoration: none;
  color: white;
  font-size: 12px;
}

.contact {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  font-weight: 300;
  width: 300px;
  padding-bottom: 10px;
  border-bottom: solid 3px black;
  letter-spacing: 0.1em;
}

.footer-nav {
  height: 90px;
  max-width: 100%;
  background-color: #79addc;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-bottom: none;
}
.footer-nav .footer-logo {
  width: 92px;
  height: 42;
}
.footer-nav .copyright {
  color: white;
}
.footer-nav .links {
  height: 42px;
  width: 100px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer-nav .links .logo-img {
  height: 20px;
  width: 20px;
  color: white;
}
.footer-nav .links a {
  text-decoration: none;
  color: white;
}